.header-back {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 75%;
  position: relative;
}

.title {
  position: absolute;
  margin-left: 30px;
}

.title a{
  text-decoration: none;
}

.title-logo {
  font-size: 50px;
  font-style: italic;
  letter-spacing: 0.2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  text-shadow : 
  0 0 0.1em rgba(255,255,255,0.05),
  0.01em 0.04em 0.03em rgba(255,255,255,0.4);
  color: transparent;
  background: linear-gradient( 45deg,
  #E60012 20%,
  #F39800 30%,
  #FFF100 40%,
  #009944 50%,
  #0068B7 60%,
  #1D2088 70%,
  #920783 80%);
-webkit-background-clip: text;
}

.subtitle-logo{
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-shadow : 
  0 0 0.1em rgba(255,255,255,0.05),
  0.01em 0.04em 0.03em rgba(255,255,255,0.4);
}
/*** ページトップ ***/

.sign-in-box{
  display: flex;
  background-color: beige;
  height: 30px;
  align-items:center;
  justify-content: right;
}

.lists-right {
  display: flex;
  margin-right: 10px;
  
}

.lists-right a {
  text-decoration: none;
  margin-right: 20px;
  color: skyblue;
  text-shadow: 
        0 0 0.05em #004eff,
        0 0 0.10em #004eff,
        0 0 0.15em #004eff,
        0 0 0.30em #004eff;
    filter: saturate(80%);
}

/*** ユーザーリンク ***/
