<header class="header">
  <div class="header-back">
    <%= image_tag "golf-bg.jpg", class:"header-photo" %>
      <div class="title">
        <div class="title-logo">GoalF</div>
        <div class="subtitle-logo">〜あなたに合ったゴルフ理論をお届けします〜</div>
      </div>
  </div>
</header>