<div class="side-menu">
  <%= link_to user_path(@user.id) do %>
  <div class="select-menu">
  基本情報
  </div>
  <% end %>
  <%= link_to user_golfers_path(@user.id) do %>
  <div class="select-menu">
    ゴルファー情報
  </div>
  <% end %>
  <div class="select-menu">
  投稿記事一覧
  </div>
  <div class="select-menu">
  お気に入り記事一覧
  </div>
</div>