.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.articles-box {
  min-height: 700px;
  width: 1000px;
  background-color: rgb(255, 255, 239);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
}

.articles-box a{
  text-decoration: none;
}

.article-box {
  margin-bottom: 20px;
  display: flex;
  width: 800px;
  background-color: #ffffff;
  height: 100px;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
}

.article-img-box {
  margin-right: 20px;
  border: #000000 solid 1px;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
}

.article-category {
  font-weight: bold;
  line-height: 50px;
}