
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: scroll;
  position: relative;
}

.main-background {
  width: 100%;
  height: 100%;
}

.articles-title {
  margin: 10px auto 30px;
  font-size: 40px;
  font-weight: bolder;
}

.articles-box {
  min-height: 800px;
  width: 1000px;
  margin-top: 10px;
  background-color: rgb(255, 255, 239);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
  position: absolute;
}

.articles-box a{
  text-decoration: none;
}

.article-box {
  margin-bottom: 20px;
  display: flex;
  width: 800px;
  background-color: #ffffff;
  height: 100px;
  align-items: center;
  border: 1px solid #000000;
  padding: 5px 10px 5px;
}

.article-img-box {
  margin-right: 20px;
  border: #000000 solid 1px;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
}

.article-detail {
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.article-category {
  font-weight: bold;
  line-height: 20px;
}

.favor-count {
  font-size: 20px;
}